<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.web.zira.app">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <!-- Explicit queries for all Indonesian banks, digital banks, & e-wallets (100% Play Store compliant without high-risk permission) -->
    <queries>
        <!-- Bank Konvensional & BUMN -->
        <package android:name="com.bca" />
        <package android:name="com.bca.mybca" />
        <package android:name="com.bca.mybca.omni.android" />
        <package android:name="com.bca.halobca.android" />
        <package android:name="id.bmri.livin" />
        <package android:name="com.bankmandiri.mandirimai" />
        <package android:name="tl.bmdl.livin" />
        <package android:name="id.co.bri.brimo" />
        <package android:name="id.co.bri.brilinkmobile" />
        <package android:name="src.com.bni" />
        <package android:name="id.bni.wondr" />
        <package android:name="id.co.bni.wondr" />
        <package android:name="co.id.bankbsi.superapp" />
        <package android:name="com.bsi.mobile" />
        <package android:name="com.cimbniaga.octomobile" />
        <package android:name="net.myinfosys.permata" />
        <package android:name="com.danamon.dbank.reg" />
        <package android:name="com.btn.mobile" />
        <package android:name="com.bankmega.msmile" />
        <package android:name="com.simas.mobile.Simobi" />
        <package android:name="id.co.panin.mobile" />
        <package android:name="com.ocbc.mobile.id" />
        <package android:name="id.co.maybank.m2u" />
        <package android:name="com.muamalat.din" />
        <package android:name="com.bankjatim.mobilebanking" />
        <package android:name="com.bankdki.jakone" />
        <package android:name="id.co.bankbjb.digi" />
        <package android:name="com.nobubank.nobumobile" />
        <package android:name="id.co.kbbukopin.wokee" />
        <package android:name="com.dbs.id.dbsmbanking" />
        <package android:name="com.uob.id.tmrw" />

        <!-- Bank Digital -->
        <package android:name="id.co.bankbkemobile.digitalbank" />
        <package android:name="com.jago.digitalBanking" />
        <package android:name="com.jago.digitalBanking.syariah" />
        <package android:name="com.bcadigital.blu" />
        <package android:name="id.co.bcadigital.blu" />
        <package android:name="ph.seabank.seabank" />
        <package android:name="com.btpn.seabank" />
        <package android:name="com.shopee.seabank" />
        <package android:name="com.shopee.seabank.id" />
        <package android:name="id.co.seabank.mobile" />
        <package android:name="com.bnc.finance" />
        <package android:name="com.btpn.dc" />
        <package android:name="com.allobank.allomobile" />
        <package android:name="id.co.kebhana.linebank" />
        <package android:name="id.superbank.app" />
        <package android:name="com.krom.bank" />
        <package android:name="id.aladinbank.app" />
        <package android:name="id.banksaqu.app" />
        <package android:name="id.co.hijrabank.mobile" />

        <!-- E-Wallet & Fintech -->
        <package android:name="id.dana" />
        <package android:name="com.gojek.gopay" />
        <package android:name="com.gojek.app" />
        <package android:name="ovo.id" />
        <package android:name="com.shopeepay.id" />
        <package android:name="com.shopeepay.merchant.id" />
        <package android:name="com.shopee.id" />
        <package android:name="com.telkom.tcash" />
        <package android:name="com.astrapay.app" />
        <package android:name="com.indomaret.isaku" />
        <package android:name="com.bca.sakuku" />
        <package android:name="com.dokuwallet.android" />
        <package android:name="com.bm.cl.speedcash" />
        <package android:name="id.mncpay.motionpay" />
        <package android:name="id.flip" />
        <package android:name="id.co.oyindonesia.oy" />
        <package android:name="com.tokopedia.tkpd" />
        <package android:name="com.grabtaxi.passenger" />
        <package android:name="com.lazada.android" />
        <package android:name="com.blibli.android" />
    </queries>

    <application
        android:label="ZiRa Finance"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Deep link capture untuk Google OAuth Callback zira://auth -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="zira" android:host="auth" />
            </intent-filter>
        </activity>

        <!-- Notification Listener Service (Background 24/7) -->
        <service
            android:name=".NotificationListener"
            android:label="ZiRa Auto-Catat Notifikasi"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- File Provider for In-App APK Updater -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="id.web.zira.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
