<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.web.zira.app">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Membaca seluruh aplikasi m-banking terpasang tanpa terhalang sandbox Android 11+ -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />

    <!-- Queries explicit fallback for all Indonesian banks & e-wallets -->
    <queries>
        <!-- SeaBank -->
        <package android:name="ph.seabank.seabank" />
        <package android:name="com.btpn.seabank" />
        <package android:name="com.shopee.seabank" />

        <!-- Blu BCA Digital -->
        <package android:name="com.bcadigital.blu" />
        <package android:name="id.co.bcadigital.blu" />

        <!-- BCA & myBCA -->
        <package android:name="com.bca" />
        <package android:name="com.bca.mybca" />
        <package android:name="com.bca.mybca.omni.android" />

        <!-- Mandiri / Livin -->
        <package android:name="id.bmri.livin" />
        <package android:name="com.bankmandiri.mandirimai" />
        <package android:name="tl.bmdl.livin" />

        <!-- BRI & BRImo -->
        <package android:name="id.co.bri.brimo" />

        <!-- BNI & Wondr -->
        <package android:name="src.com.bni" />
        <package android:name="id.bni.wondr" />
        <package android:name="id.co.bni.wondr" />

        <!-- Bank Jago -->
        <package android:name="com.jago.digitalBanking" />

        <!-- E-Wallets & Fintech -->
        <package android:name="id.dana" />
        <package android:name="com.gojek.app" />
        <package android:name="com.gojek.gopay" />
        <package android:name="ovo.id" />
        <package android:name="com.shopee.id" />
        <package android:name="co.id.bankbsi.superapp" />
        <package android:name="com.bnc.finance" />
        <package android:name="com.btpn.dc" />
        <package android:name="com.danamon.dbank.reg" />
        <package android:name="com.cimbniaga.octomobile" />
        <package android:name="com.tokopedia.tkpd" />
        <package android:name="com.grabtaxi.passenger" />
    </queries>

    <application
        android:label="ZiRa Finance"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Deep link capture untuk Google OAuth Callback zira://auth -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="zira" android:host="auth" />
            </intent-filter>
        </activity>

        <!-- Notification Listener Service (Background 24/7) -->
        <service
            android:name=".NotificationListener"
            android:label="ZiRa Auto-Catat Notifikasi"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- File Provider for In-App APK Updater -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="id.web.zira.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
